.section {
  width: 100%;
  margin: 0 auto 120px;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 381px;
  height: 165px;
  border-radius: 8px;
  margin-inline: auto;
  background: var(--color-neutral-300);
  color: var(--color-neutral-500);
  text-align: center;
}

.item:not(:last-child) {
  margin-bottom: 67px;
}

.imgContainer {
  position: absolute;
}

.markI {
  top: -52px;
  width: 149px;
}

.zx9 {
  top: -53px;
  width: 156px;
}

.yx1 {
  top: -50px;
  width: 178px;
}

.img {
  width: 100%;
  height: auto;
}

.heading {
  margin-bottom: 13px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20.5px;
  letter-spacing: 1.07px;
  text-transform: uppercase;
}

.shopText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0 20px;
}

.text {
  margin: 0 6px 0 0;
  color: #797979;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 96px;
  }

  .item {
    height: 166px;
  }

  .item:not(:last-child) {
    margin-bottom: 0;
  }

  .zx9 {
    width: 154px;
  }

  .yx1 {
    top: -52px;
    width: 182px;
  }

  .heading {
    margin-bottom: 14;
  }

  .shopText {
    margin-bottom: 22px;
  }

  .text {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  /* HOVER BOB EFFECT FROM HOVER.CSS */
  .hvrBob {
    box-shadow: 0 0 1px rgb(0 0 0 / 0);
    -webkit-transform: perspective(1px);
    -ms-transform: perspective(1px);
    transform: perspective(1px);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }

  .hvrBob:hover,
  .hvrBob:focus,
  .hvrBob:active {
    -webkit-animation-name: hvrBobFloat, hvrBob;
    animation-name: hvrBobFloat, hvrBob;
    -webkit-animation-duration: 0.3s, 1.5s;
    animation-duration: 0.3s, 1.5s;
    -webkit-animation-delay: 0s, 0.3s;
    animation-delay: 0s, 0.3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  @-webkit-keyframes hvrBob {
    0% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }

    50% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    100% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  }

  @-moz-keyframes hvrBob {
    0% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }

    50% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    100% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  }

  @keyframes hvrBob {
    0% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }

    50% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }

    100% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  }

  @-webkit-keyframes hvrBobFloat {
    100% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  }

  @-moz-keyframes hvrBobFloat {
    100% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  }

  @keyframes hvrBobFloat {
    100% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  }

  .item:hover .text {
    color: var(--color-accent);
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
  }
}

@media (min-width: 1440px) {
  .section {
    gap: 30px;
    margin-bottom: 160px;
  }

  .item {
    height: 204px;
  }

  .heading {
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: 1.29px;
  }

  .markI,
  .zx9,
  .yx1 {
    width: 220px;
  }

  .markI {
    top: -80px;
  }

  .zx9 {
    top: -73px;
  }

  .yx1 {
    top: -70px;
  }

  .shopText {
    margin-bottom: 30px;
  }
}
