.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.itemLeft {
  display: flex;
  align-items: center;
}

.imgContainer {
  position: relative;
  width: 64px;
  height: 64px;
  margin-right: 17px;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.shortName,
.price {
  font-weight: 700;
  line-height: 25px;
}

.shortName {
  margin: 0;
  font-size: 15px;
  letter-spacing: 0;
}

.price {
  margin: 0;
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
}

.price span {
  margin-right: 3px;
}

@media (min-width: 768px) {
  .item {
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .item {
    margin-bottom: 23px;
  }
}
