.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.itemLeft {
  display: flex;
  align-items: center;
}

.imgContainer {
  position: relative;
  width: 64px;
  height: 64px;
  margin-right: 17px;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.shortName,
.price {
  font-weight: 700;
  line-height: 25px;
}

.shortName {
  margin: 0;
  font-size: 15px;
  letter-spacing: 0;
}

.price {
  margin: 0;
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
}

.price span {
  margin-right: 3px;
}

.quantityContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96px;
  height: 32px;
  background: var(--color-neutral-300);
}

.removeContainer,
.addContainer {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.quantityContainer p {
  margin: 0;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
}

.removeBtn,
.addBtn {
  width: 29px;
  color: rgb(0 0 0 / 0.25);
  text-align: center;
}

.quantity {
  font-weight: 700;
}

@media (min-width: 768px) {
  .item {
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .item {
    margin-bottom: 23px;
  }

  .removeContainer,
  .addContainer {
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }

  .removeContainer .removeBtn,
  .addContainer .addBtn {
    -webkit-transition: color 0.2s linear, transform 0.2s linear;
    transition: color 0.2s linear, transform 0.2s linear;
  }

  .removeContainer:hover,
  .addContainer:hover {
    background: #d3d3d3;
    cursor: pointer;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }

  .removeContainer:hover .removeBtn,
  .addContainer:hover .addBtn {
    color: var(--color-accent);
    transform: scale(1.15);
    -webkit-transition: color 0.2s linear, transform 0.2s linear;
    transition: color 0.2s linear, transform 0.2s linear;
  }
}
