.container {
  text-align: center;
}

.container:not(:last-of-type) {
  margin-bottom: 120px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imgContainer {
  width: 100%;
  height: auto;
  margin-bottom: 17px;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.heading {
  width: 200px;
  margin: 23px auto 4px;
  font-size: 28px;
  line-height: 38.25px;
  letter-spacing: 1px;
  text-align: center;
}

.text {
  margin: 23px 0 24px;
  color: rgb(0 0 0 / 0.5);
  font-size: 15px;
  line-height: 25px;
}

@media (min-width: 425px) {
  .text {
    max-width: 560px;
  }
}

@media (min-width: 768px) {
  .img {
    margin-bottom: 28px;
  }

  .heading {
    width: 340px;
    margin-top: 16px;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
  }

  .text {
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .item {
    flex-direction: row;
    gap: 80px;
    margin-bottom: 165px;
  }

  .imgContainer {
    flex: 1 1 50%;
    margin-bottom: 0;
  }

  .reverseOrder {
    order: 1;
  }

  .img {
    margin-bottom: 0;
  }

  .bottomContainer {
    flex: 1 1 50%;
    text-align: left;
  }

  .heading {
    margin: 6px auto 4px 0;
    text-align: left;
  }

  .text {
    margin: 14px 0 22px;
  }
}
