@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("normalize.css");

:root {
  --color-neutral-100: #fff;
  --color-neutral-200: #fafafa;
  --color-neutral-300: #f1f1f1;
  --color-neutral-400: #000;
  --color-neutral-500: #101010;
  --color-accent: #d87d4a;
  --color-accent-light: #fbaf85;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  z-index: 0;
  max-width: 1920px;
  margin: 0 auto;
  font: normal 500 15px/25px "Manrope", sans-serif;
}

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (CHROME, SAFARI, OPERA) */
body::-webkit-scrollbar {
  width: 0 !important;
}

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (FIREFOX) */
@-moz-document url-prefix() {
  html {
    scrollbar-width: none;
  }
}

.main {
  position: relative;
  padding: 0 24px;
  margin-top: 100px;
}

input {
  caret-color: var(--color-accent);
}

input:focus {
  outline: 1px solid var(--color-accent);
  outline-offset: -1px;
}

.input-invalid,
.input-invalid:focus {
  outline: 2px solid #cd2c2c;
  outline-offset: -1px;
}

input:not(input[type="submit"]):not(input[type="button"]):not(
    input[type="radio"]
  ) {
  width: 100%;
  height: 56px;
  padding-left: 24px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  margin: 5px 0 19px;
}

input:not(input[type="submit"]):not(input[type="button"]):not(
    input[type="radio"]
  )::placeholder {
  color: rgb(0 0 0 / 0.4);
  font-size: 14px;
  font-weight: 700;
  opacity: 1;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn-text {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  color: var(--color-neutral-100);
}

.btn {
  width: 160px;
  height: 48px;
  border: 0;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 17.76px;
}

.btn--black {
  background: var(--color-neutral-500);
}

.btn--orange {
  background: var(--color-accent);
}

.btn--border {
  border: 1px solid var(--color-neutral-500);
  color: var(--color-neutral-500);
}

.btn-text--white {
  color: var(--color-neutral-200);
}

.hidden,
.hidden-sm,
.hidden-sm-md,
.hidden-sm-lg {
  display: none;
}

.main--current-product {
  position: relative;
  padding: 0 24px;
  margin-top: 0;
}

.overline {
  margin: 24px 0 0 2px;
  color: var(--color-accent);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.overline--current-product {
  margin-top: -7px;
}

#main--products {
  margin-top: 64px;
}

.category-items {
  margin-bottom: 172px;
}

@media (min-width: 768px) {
  input:not(input[type="submit"]):not(input[type="button"]):not(
      input[type="radio"]
    )::placeholder {
    line-height: 19.12px;
    letter-spacing: -0.25px;
  }

  .hidden-sm,
  .hidden-sm-lg {
    display: block;
  }

  .hidden-md {
    display: none;
  }

  .main {
    padding-inline: 39px;
    margin-top: 148px;
  }

  .main--current-product {
    padding-inline: 39px;
  }

  #main--products {
    margin-top: 121px;
  }

  .overline {
    margin: 17px 0 0 2px;
    line-height: 19.12px;
  }

  #overline--small-text {
    margin-top: 0px;
    font-size: 12px;
    line-height: 16.39px;
    letter-spacing: 8.57px;
  }

  .category-items {
    margin-bottom: 172px;
  }

  .spacer-top {
    width: 100%;
    height: 51px;
  }

  .spacer {
    width: 100%;
    height: 24px;
  }
}

@media (min-width: 1024px) {
  .main--current-product {
    padding-inline: 120px;
  }

  #main--products {
    margin-top: 160px;
  }

  .btn {
    cursor: pointer;
  }

  input {
    cursor: pointer;
  }

  .hidden-sm-md {
    display: block;
  }

  .hidden-sm-lg,
  .hidden-lg {
    display: none;
  }

  .btn--black:hover {
    background: #4c4c4c;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }

  .btn--orange:hover {
    background: var(--color-accent-light);
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }

  .btn--zx7:hover,
  .btn--yx1:hover {
    background: var(--color-neutral-500);
    color: var(--color-neutral-200);
    -webkit-transition: background 0.2s linear, color 0.2s linear;
    transition: background 0.2s linear, color 0.2s linear;
  }

  header {
    padding: 0 100px;
  }

  .main {
    padding: 0 120px;
    margin-top: 130px;
  }

  .main--current-product {
    padding-inline: 120px;
  }

  .overline {
    margin-top: 0;
    color: var(--color-accent);
    font-size: 14px;
    letter-spacing: 10px;
  }

  .overline--current-product {
    margin-bottom: 10px;
  }
}

@media (min-width: 1440px) {
  .main {
    padding-inline: 165px;
    padding: 0 160px;
    margin-top: 199px;
  }

  .main--current-product {
    padding-inline: 165px;
  }

  header {
    height: 560px;
    padding: 0 160px;
    overflow-x: hidden;
  }

  .overline--current-product {
    margin-bottom: 13px;
  }

  #overline--small-text {
    font-size: 14px;
    line-height: 19.12px;
    letter-spacing: 10px;
  }
}
