@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("normalize.css");

:root {
  --color-neutral-100: #fff;
  --color-neutral-200: #fafafa;
  --color-neutral-300: #f1f1f1;
  --color-neutral-400: #000;
  --color-neutral-500: #101010;
  --color-accent: #d87d4a;
  --color-accent-light: #fbaf85;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (CHROME, SAFARI, OPERA) */
body::-webkit-scrollbar {
  width: 0 !important;
}

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (FIREFOX) */
@-moz-document url-prefix() {
  html {
    scrollbar-width: none;
  }
}
