.about {
  text-align: center;
}

.imgContainer {
  width: 100%;
  margin-bottom: 33px;
  filter: brightness(0.85);
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.heading {
  max-width: 320px;
  margin: 0 auto;
  font-size: 28px;
  line-height: 38.25px;
  letter-spacing: 1px;
}

.heading span {
  color: var(--color-accent);
}

.text {
  max-width: 500px;
  margin: 22px auto 119px;
  color: rgb(0 0 0 / 0.5);
  font-size: 15px;
  line-height: 25px;
}

@media (min-width: 768px) {
  .heading {
    max-width: 585px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
  }

  .imgContainer {
    margin-bottom: 63px;
  }

  .text {
    max-width: 580px;
    margin: 32px auto 97px;
  }
}

@media (min-width: 1024px) {
  .about {
    display: flex;
    gap: 30px;
    margin-bottom: 140px;
  }

  .heading {
    max-width: 430px;
    padding-right: 0;
    margin: 0;
    font-size: 32px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    width: 0;
    margin: auto 0;
    text-align: left;
  }

  .text {
    padding-right: 0;
    margin: 33px 25px 0 0;
  }

  .imgContainer {
    order: 1;
    flex: 1 1 0px;
    width: 0;
    margin-bottom: 0;
  }
}
