.overlay {
  position: absolute;
  top: 89px;
  left: 0;
  z-index: 1;
  width: 100%;
  min-height: 2275px;
  /* height: 100%; */
  background: rgba(5, 5, 5, 0.4);
}

.overlayBg {
  height: 749px;
  padding: 85px 24px 0;
  border-radius: 0px 0px 8px 8px;
  background: var(--color-neutral-100);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 80px 22px 16px;
  margin: 0;
  background-color: var(--color-neutral-100);
}

.listItem {
  width: 100%;
}

.listItem:not(:last-child) {
  margin-bottom: 65px;
}
