.navContainer {
  position: relative;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 6px 22px 0;
  border-bottom: 1px solid rgb(255 255 255 / 0.1);
}

.tapLeft,
.tapRight {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

.tapLeft {
  justify-content: flex-start;
}

.tapRight {
  justify-content: flex-end;
}

.burgerIconContainer {
  width: 16px;
  padding-bottom: 4px;
}

.burgerIcon {
  width: 100%;
  height: auto;
}

.burgerIconActive,
.cartIconActive {
  filter: brightness(0.65);
}

.logoContainer {
  width: 143px;
}

.logo {
  width: 100%;
  height: auto;
}

.cartIconContainer {
  position: relative;
  width: 23px;
  padding-bottom: 1px;
}

.cartIcon {
  width: 100%;
  height: auto;
}

.badge {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background: var(--color-accent);
  color: var(--color-neutral-200);
  transform: translate(37%, -17%);
}

.badge span {
  font-size: 0.65rem;
}

@media (min-width: 768px) {
  .navContainer {
    width: 100%;
  }

  .nav {
    width: calc(100vw - 78px);
    padding: 6px 0 0;
    margin: 0 auto;
  }

  .logoContainer {
    margin-left: 14px;
  }

  .navRight {
    margin-left: auto;
  }

  .tapRight {
    margin-left: auto;
  }
}
