@media (min-width: 1024px) {
  .list {
    display: flex;
    justify-content: space-between;
    order: 2;
    width: 385px;
    padding-left: 0;
    margin-bottom: 23px;
    text-transform: uppercase;
  }

  .link {
    color: var(--color-neutral-200);
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-decoration: none;
  }

  .link:hover {
    color: var(--color-accent);
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
  }
}

@media (min-width: 1440px) {
  .list {
    width: 420px;
    margin-right: 115px;
  }
}
