.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.imgContainer {
  position: relative;
  min-width: 64px;
  height: 64px;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.productDetails {
  width: 100%;
  font-weight: 700;
  line-height: 25px;
}

.nameQuantityContainer {
  display: flex;
  justify-content: space-between;
}

.shortName {
  margin: 0;
  font-size: 15px;
  letter-spacing: 0;
}

.quantity {
  margin: 0;
  color: rgba(5, 5, 5, 0.5);
}

.price {
  margin: 0;
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
}

.price span {
  margin-right: 3px;
}
