.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.imgContainer {
  position: relative;
  min-width: 64px;
  height: 64px;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.productDetails {
  width: 100%;
  font-weight: 700;
  line-height: 25px;
}

.productDetails h6 {
  letter-spacing: 0;
}

.nameQuantityContainer {
  display: flex;
  justify-content: space-between;
}

.quantity {
  margin: 0;
  color: rgba(5, 5, 5, 0.5);
  font-weight: 700;
}

.priceContainer {
  display: flex;
  align-items: center;
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
}

.iconContainer {
  display: flex;
  align-items: center;
  width: 8.75px;
  margin: 1px 3px 0 0;
}

.priceContainer p {
  margin: 0;
}
