.alsoLike {
  text-align: center;
}

.heading {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.86px;
}

.container {
  margin: 39px auto 171px;
}

@media (min-width: 768px) {
  .alsoLike {
    height: 563px;
    margin-bottom: 172px;
  }

  .heading {
    margin-bottom: 31px;
    font-size: 32px;
    letter-spacing: 1.14px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    width: 100%;
    margin: 0 0 115px;
  }
}

@media (min-width: 1024px) {
  .alsoLike {
    margin-bottom: 140px;
  }

  .container {
    gap: 20px;
    margin-bottom: 125px;
  }

  .heading {
    margin-bottom: 39px;
  }
}

@media (min-width: 1440px) {
  .alsoLike {
    margin-bottom: 246px;
  }

  .container {
    gap: 30px;
  }
}
