.text h5 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.86px;
}

.text p {
  margin-top: 24px;
  color: rgb(0 0 0 / 0.5);
  font-size: 15px;
  line-height: 25px;
  white-space: pre-wrap;
}

.inTheBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 75px 0 72px;
}

.inTheBox h5 {
  font-size: 24px;
  letter-spacing: 0.86px;
}

.list {
  padding-left: 0;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .text h5 {
    margin-bottom: 31px;
    font-size: 32px;
    letter-spacing: 1.14px;
  }

  .text p {
    margin-bottom: 20px;
  }

  .inTheBox {
    flex-direction: row;
    justify-content: space-between;
    margin: 120px 0 100px;
  }

  .inTheBox h5 {
    flex: 1 1 33%;
    width: 0;
    margin-top: 2px;
    font-size: 32px;
  }

  .listContainer {
    flex: 1 1 66%;
    width: 0;
  }

  .list {
    width: 205px;
    margin: 0 auto 0 118px;
  }
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    gap: 50px;
    margin-bottom: 110px;
  }

  .text {
    flex: 1 1 66%;
  }

  .text h5 {
    margin-bottom: 32px;
  }

  .text p {
    width: 517px;
  }

  .inTheBox {
    flex-direction: column;
    flex: 1 1 33%;
    margin: 0;
    line-height: 36px;
    letter-spacing: 1.14px;
  }

  .inTheBox h5 {
    flex: none;
    width: 100%;
    margin-bottom: 33px;
  }

  .list {
    width: 250px;
    margin-inline: 0;
  }
}

@media (min-width: 1440px) {
  .container {
    gap: 120px;
    margin-bottom: 140px;
  }

  .text p {
    width: 632px;
  }
}
