.container {
  margin-bottom: 114px;
}

.imgContainer {
  width: 100%;
  height: auto;
  margin-bottom: 13px;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    gap: 15px;
    margin-bottom: 120px;
  }

  .inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 42%;
    width: 0;
  }

  .imgContainer {
    margin: 0;
  }

  .imgContainer3 {
    flex: 1 1 58%;
    width: 0;
  }

  .img {
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    gap: 22px;
    margin-bottom: 120px;
  }

  .inner {
    gap: 24px;
  }
}

@media (min-width: 1440px) {
  .container {
    gap: 30px;
    margin-bottom: 160px;
  }

  .inner {
    gap: 32px;
  }
}
