.item {
  margin-bottom: 8px;
  color: rgb(0 0 0 / 0.5);
  font-size: 15px;
  line-height: 25px;
}

.item span {
  display: inline-block;
  width: 20px;
  margin-right: 19px;
  color: var(--color-accent);
}

@media (min-width: 1440px) {
  .item {
    margin-bottom: 5px;
  }
}
