.imgContainer {
  width: 100%;
  height: auto;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .imgContainer {
    width: 282px;
    height: 480px;
    margin-bottom: 38px;
  }
}

@media (min-width: 1024px) {
  .imgContainer {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .imgContainer {
    height: 480px;
  }
}
