.container {
  gap: 60px;
  margin-bottom: 85px;
  text-align: left;
}

.imgContainer {
  margin-bottom: 25px;
}

.heading {
  margin: 24px 0 0;
  font-size: 28px;
  line-height: 38.25px;
  letter-spacing: 1px;
}

.text {
  margin: 23px 0 25px;
  color: rgb(0 0 0 / 0.5);
}

.price {
  margin: 0 0 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
  letter-spacing: 1.29px;
}

.price span {
  margin-right: 5px;
}

.addToCart {
  display: flex;
  justify-content: space-between;
  width: 296px;
  height: 48px;
}

.quantityContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 48px;
  background: var(--color-neutral-300);
  font-size: 12px;
}

.removeContainer,
.addContainer {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.quantityContainer p {
  margin: 0;
  font-size: 13px;
}

.removeBtn,
.addBtn {
  width: 45px;
  color: rgb(0 0 0 / 0.25);
  text-align: center;
}

.quantity {
  font-weight: 700;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 83px;
  }

  .imgContainer {
    flex: 1 1 48%;
    width: 0;
  }

  .innerContainer {
    flex: 1 1 52%;
    width: 0;
    margin-bottom: 35px;
  }

  .heading {
    margin-top: 17px;
    line-height: 32px;
  }

  .text {
    margin: 31px 0 33px;
    line-height: 25px;
  }

  .price {
    margin-bottom: 31px;
  }

  .addToCart {
    justify-content: flex-start;
  }

  .quantityContainer {
    margin: 0 12px 0 0;
  }
}

@media (min-width: 1024px) {
  .container {
    gap: 80px;
  }

  .imgContainer {
    margin-bottom: 0;
  }

  .text {
    margin: 14px 0 18px;
  }

  .price {
    margin-bottom: 22px;
  }

  .removeContainer,
  .addContainer {
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }

  .removeContainer:hover,
  .addContainer:hover {
    background: #d3d3d3;
    cursor: pointer;
    -webkit-transition: background 0.2s linear;
    transition: background 0.2s linear;
  }

  .removeContainer .removeBtn,
  .addContainer .addBtn {
    -webkit-transition: color 0.2s linear, transform 0.2s linear;
    transition: color 0.2s linear, transform 0.2s linear;
  }

  .removeContainer:hover .removeBtn,
  .addContainer:hover .addBtn {
    color: var(--color-accent);
    transform: scale(1.15);
    -webkit-transition: color 0.2s linear, transform 0.2s linear;
    transition: color 0.2s linear, transform 0.2s linear;
  }
}

@media (min-width: 1440px) {
  .container {
    gap: 125.5px;
    margin-bottom: 177px;
  }

  .imgContainer {
    flex: 1 1 63%;
    margin-bottom: 25px;
  }

  .heading {
    width: 295px;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
  }

  .text {
    width: 445px;
    margin: 20px 0 33px;
  }

  .price {
    margin-bottom: 31px;
  }

  .quantityContainer {
    margin-right: 16px;
  }
}
