.header,
.main {
  background-color: var(--color-neutral-200);
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 65px;
  padding-inline: 24px;
}

.headerLink {
  color: rgb(0 0 0 / 0.5);
}

.main {
  padding: 0 24px 97px;
  max-width: 1920px;
}

@media (min-width: 768px) {
  .header {
    height: 97px;
    padding-inline: 39px;
  }

  .headerLink {
    margin: 30px 0 8px;
  }

  .main {
    padding: 0 40px 116px;
  }
}

@media (min-width: 1024px) {
  .header {
    height: 142px;
    padding-left: 165px;
  }

  .headerLink:hover {
    color: var(--color-accent);
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
  }

  .main {
    padding: 0 165px 141px;
  }
}
