.headerMain {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 510px;
  background: #131313;
}

.img::after {
  content: "";
  position: absolute;
  top: -51px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 103%;
  background: url("/assets/home/mobile/image-header.jpg") center/cover no-repeat;
  filter: brightness(0.75);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title,
.heading,
.text {
  position: relative;
  z-index: 100;
}

.heading,
.text {
  text-align: center;
}

.title {
  margin: -1px 0 16px 9px;
  color: rgb(255 255 255 / 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.heading {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 1.29px;
}

.text {
  max-width: 330px;
  margin: 24px 0 28px;
  color: rgb(255 255 255 / 0.75);
  line-height: 25px;
}

.link {
  position: relative;
  z-index: 200;
}

@media (min-width: 768px) {
  .headerMain {
    height: 642px;
  }

  .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 632px;
  }

  .img::after {
    top: -51px;
    background: url("/assets/home/tablet/image-header.jpg") center/cover
      no-repeat;
  }

  .content {
    margin-bottom: 38px;
  }

  .title {
    margin-bottom: 24px;
  }

  .heading {
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
  }

  .text {
    max-width: 342px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .headerMain {
    padding-inline: 120px;
  }

  .img::after {
    background: url("/assets/home/desktop/image-hero.jpg") center/cover
      no-repeat;
  }

  .content {
    align-items: flex-start;
    width: 100%;
  }

  .heading {
    width: 400px;
    font-size: 42px;
    text-align: left;
  }

  .title {
    margin-left: 0;
    line-height: 19.12px;
  }

  .text {
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .headerMain {
    padding-inline: 165px;
  }

  .heading {
    font-size: 56px;
  }
}
