.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 64px;
  margin-left: 24px;
  background: none;
}

.link {
  margin: 0 0 7px;
  color: rgb(0 0 0 / 0.5);
  font-size: 15px;
  line-height: 25px;
}

@media (min-width: 768px) {
  .header {
    height: 82px;
    padding: 0 39px;
    margin-left: 0;
  }

  .link {
    margin: 12px 0 7px;
  }
}

@media (min-width: 1024px) {
  .header {
    height: 120px;
    padding: 0 120px;
  }

  .link:hover {
    color: var(--color-accent);
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
  }
}
