.footer {
  padding: 0 24px 20px;
  background-color: var(--color-neutral-400);
  text-align: center;
}

.border {
  width: 100px;
  border-top: 4px solid var(--color-accent);
  margin: 0 auto;
}

.logoContainer {
  margin: 48px 0 41px 0;
}

.logo {
  width: 143px;
  height: auto;
}

.text,
.copy {
  color: rgb(255 255 255 / 0.5);
}

.text {
  max-width: 488px;
  margin: 0 auto 36px;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.copy {
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}

@media (min-width: 768px) {
  .footer {
    padding: 0 38px 20px;
  }

  .footerMd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .border {
    margin: 0;
  }

  .logoContainer {
    margin: 54px 0 25px;
    text-align: left;
  }

  .text {
    max-width: 100%;
    margin: 19px 0 77px;
    text-align: left;
  }

  .footerMdBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
  }

  .copy {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 0 120px 20px;
  }

  .footerLg {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin-top: 60px;
  }

  .logoContainer {
    margin: 0;
  }

  .logo:hover {
    filter: brightness(0%) saturate(100%) invert(82%) sepia(47%) saturate(4886%)
      hue-rotate(327deg) brightness(90%) contrast(86%);
  }

  .text {
    width: 550px;
    margin: 16px 0 56px;
  }

  .footerMdBottom {
    position: relative;
    margin-bottom: 28px;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding-inline: 160px;
  }
}
