.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 102px;
  padding: 0;
  margin: 48px auto 11px;
}

.link svg {
  fill: var(--color-neutral-100);
}

@media (min-width: 768px) {
  .socials,
  .socials li {
    height: 24px;
  }

  .socials {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .link:hover svg {
    fill: var(--color-accent);
    -webkit-transition: fill 0.2s linear;
    transition: fill 0.2s linear;
  }

  .socials {
    position: absolute;
    right: 0;
    top: -86.5px;
  }
}
