.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 102px;
  padding: 0;
  margin: 48px auto 11px;
}

.link svg {
  fill: var(--color-neutral-100);
}

@media (min-width: 768px) {
  .socials,
  .socials li {
    height: 24px;
  }

  .socials {
    margin: 0;
  }
}
