.zx9 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 0 25px 42px;
  border-radius: 8px;
  margin-bottom: 24px;
  background-color: var(--color-accent);
}

.inner {
  position: absolute;
  top: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  background-image: url("/assets/home/desktop/pattern-circles.svg");
  background-position: 50% -122px;
  background-size: 171%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.imgContainer {
  position: absolute;
  top: 61px;
  width: 158px;
}

.img {
  width: 100%;
  height: auto;
}

.inner2 {
  width: 280px;
  height: 47.25%;
  text-align: center;
}

.heading {
  width: 200px;
  margin: auto;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 1.29px;
}

.text {
  margin: 23px 0 24px;
  color: rgb(255 255 255 / 0.75);
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  mix-blend-mode: normal;
}

.zx9Btn {
  width: 159px;
  height: 48px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .zx9 {
    height: 720px;
    padding-bottom: 50px;
    margin-bottom: 32px;
  }

  .inner {
    height: 100%;
    background-position: 50% -289px;
    background-size: 137%;
  }

  .imgContainer {
    top: 60px;
    width: 182px;
  }

  .inner2 {
    position: relative;
    width: 330px;
  }

  .heading {
    width: 265px;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    text-align: center;
  }

  .text {
    margin: 24px 0 40px;
    letter-spacing: 1px;
  }
}
