.zx7 {
  position: relative;
  width: 100%;
  margin-bottom: 17px;
  filter: brightness(0.93);
}

.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.inner {
  position: absolute;
  top: 101px;
  left: 20px;
}

.heading {
  margin-bottom: 31px;
  color: var(--color-neutral-400);
  font-size: 28px;
  font-weight: 600;
  line-height: 38.25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.zx7Btn {
  width: 160px;
  height: 48px;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .zx7 {
    margin-bottom: 32px;
    filter: brightness(0.94);
  }

  .inner {
    left: 64px;
  }
}

@media (min-width: 1024px) {
  .zx7 {
    margin-bottom: 48px;
  }

  .inner {
    top: 25%;
    left: 97px;
  }
}

@media (min-width: 1440px) {
  .inner {
    top: 101px;
    margin: 0;
  }
}
