.zx9 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 0 25px 42px;
  border-radius: 8px;
  margin-bottom: 24px;
  background-color: var(--color-accent);
}

.inner {
  position: absolute;
  top: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  background-image: url("/assets/home/desktop/pattern-circles.svg");
  background-position: 50% -122px;
  background-size: 171%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.imgContainer {
  position: absolute;
  top: 61px;
  width: 158px;
}

.img {
  width: 100%;
  height: auto;
}

.inner2 {
  width: 280px;
  height: 47.25%;
  text-align: center;
}

.heading {
  width: 200px;
  margin: auto;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 1.29px;
}

.text {
  margin: 23px 0 24px;
  color: rgb(255 255 255 / 0.75);
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  mix-blend-mode: normal;
}

.zx9Btn {
  width: 159px;
  height: 48px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .zx9 {
    height: 720px;
    padding-bottom: 50px;
    margin-bottom: 32px;
  }

  .inner {
    height: 100%;
    background-position: 50% -289px;
    background-size: 137%;
  }

  .imgContainer {
    top: 60px;
    width: 182px;
  }

  .inner2 {
    position: relative;
    width: 330px;
  }

  .heading {
    width: 265px;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    text-align: center;
  }

  .text {
    margin: 24px 0 40px;
    letter-spacing: 1px;
  }
}

@media (min-width: 1024px) {
  .zx9 {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    height: 485px;
    padding: 0 25px;
    margin-bottom: 48px;
    background-image: none;
    overflow: hidden;
  }

  .inner {
    position: relative;
    justify-content: center;
    flex: 1 1 60%;
    height: 100%;
    background: none;
    overflow: visible;
  }

  .imgContainer {
    position: absolute;
    top: 155px;
    width: 280px;
  }

  .imgContainerInner {
    position: relative;
    z-index: 0;
    width: 100%;
  }

  .img {
    width: 100%;
    overflow: hidden;
  }

  .circles {
    position: absolute;
    bottom: -286px;
    left: -264px;
    z-index: -100;
    width: 815px;
    height: auto;
  }

  .inner2 {
    position: relative;
    z-index: 0;
    flex: 1 1 40%;
    height: auto;
    margin: 10px 0 0 4px;
    text-align: left;
  }

  .inner2 h1,
  .inner2 p,
  .inner2 a {
    text-align: left;
  }

  .heading {
    margin: 0;
    font-size: 46px;
  }

  .text {
    width: 325px;
    margin: 12px 0 30px;
  }
}
